#root {
  margin: 0 auto;

  text-align: center;
  /* height: 100vh; */
  background: #0a2a43;
  /* width: 100vw; */
}
html,
body {
  margin: 0 auto;

  text-align: center;
  /* height: 100vh; */
  background: #0a2a43;
  /* width: 100vw; */
}
